@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonte Satoshi - Regular */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Fonte Satoshi - Italic */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Fonte Satoshi - Light */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* Fonte Satoshi - Light Italic */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* Fonte Satoshi - Medium */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* Fonte Satoshi - Medium Italic */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* Fonte Satoshi - Bold */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Fonte Satoshi - Bold Italic */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* Fonte Satoshi - Black */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

/* Fonte Satoshi - Black Italic */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
.swiper-button-next,
.swiper-button-prev {
  color: #ff6347 !important; /* Altere para a cor desejada */
}

.swiper-pagination-bullet {
  background-color: #ff6347 !important; /* Altere para a cor desejada */
}

/* Cor das bolinhas ativas */
.swiper-pagination-bullet-active {
  background-color: #ff6347 !important; /* Altere para a cor desejada */
}
